# Ignore input and output videos
input_videos/
output_videos/

# Ignore model files
models/

# Ignore stub files
stubs/

# Ignore environment files
.env

# Ignore temporary files
*.tmp
*.log
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore training data
training/runs

venv/
